.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1665686374221-1901faa9f3ad?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-repeat: no-repeat;
  height: 80vh;
  .container {
    text-align: center;
  }
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 55px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#event-card {
  margin-top: 25px;
}

.section-title-one {
  text-align: center;
  width: 100%;
  margin: 50px;
  position: relative;
  z-index: 5;
  align-content: center;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-title-one {
    margin-bottom: 45px;
    align-content: center;
  }
}
@media (max-width: 767px) {
  .section-title-one {
    margin-bottom: 35px;
    align-content: center;
  }
}
.section-title-one h2 {
  margin-bottom: 15px;
  align-content: center;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-title-one h2 {
    font-size: 2rem;
    line-height: 2.8rem;
  }
}
@media (max-width: 767px) {
  .section-title-one h2 {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
}

.single-accordion {
  padding-right: 100px;
  padding-left: 100px;
}

.accordion-style-two .accordion .card {
  margin-top: 8px;
  border: 1px solid var(--gray-4) !important;
  border-radius: 4px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.accordion-style-two .accordion .card .card-header {
  padding: 0;
  background: none;
}
.accordion-style-two .accordion .card .card-header a {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  position: relative;
  color: var(--white);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  border: 1px solid var(--primary);
  margin: -1px;
  border-radius: 4px;
  padding: 13px 16px;
  z-index: 5;
  background-color: var(--primary);
}
.accordion-style-two .accordion .card .card-header a::before {
  position: absolute;
  content: "\ea5e";
  font-family: lineicons !important;
  right: 16px;
  top: 14px;
  font-size: 16px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.accordion-style-two .accordion .card .card-header a.collapsed {
  color: var(--black);
  border-color: var(--gray-4);
  background-color: transparent;
}
.accordion-style-two .accordion .card .card-header a.collapsed::before {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.accordion-style-two .accordion .card .card-body {
  padding: 16px;
}
.accordion-style-two .accordion .card .card-body .text {
  color: var(--dark-3);
}
