body {
  background-image: #CCDAD1;
}

.table {
  font-weight: bold;
  color: white;
}

.wishlist-background {
  background-image: url(https://images.unsplash.com/photo-1489513691500-41ef4acdb665?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80);
}

#gift-card {

  h3 {
    font-weight: 700;
  }

  a {
    color: #4F646F;
  }
}
