<div class="container d-flex justify-content-center my-5">
  <div class="col-12 col-lg-3">
    <div class="card text-center align-self-center border-0" style="background-color:#ddcecde8">
<div class="Event Form">
  <h3>Create your Event:</h3>
  <%= render "shared/form", event: @event %>
</div>
</div>
</div>
</div>
