a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.button {
  background-color: initial;
  background-image: linear-gradient(#FFAE00 0, #FFC800 100%);
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
  color: #fff;
  margin: 10px;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 60px;
  line-height: 60px;
  outline: 0;
  text-align: center;
  transition: all .3s cubic-bezier(.05, .03, .35, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: bottom;
  width: 190px;

}

.button:hover {
  opacity: .9;
  color: cadetblue;
  a {
    color: cadetblue !important;
  }
}

@media screen and (max-width: 1000px) {
  .button {
    font-size: 14px;
    height: 55px;
    line-height: 55px;
    width: 150px;
  }
}

.secondary-button {
  background-image: linear-gradient(#FFAE00 0, #FFC800 100%);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
  font-size: .9em;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.search-button {
  background-image: linear-gradient(#FFAE00 0, #FFC800 100%);
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
  font-size: .9em;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
