.chatroom {
  margin-top: 20px;
  border-radius: 10px;
  background: #4F646F;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  p {
    color: #CCDAD1;
    font-size: 28px;
  }

  b, strong {
    font-weight: bolder;
    color: #FFAE00;
    text-transform: capitalize;
  }

  i {
    color: #FFAE00;
  }

  form-control {
    font-size: 20px;
    background-color: lightgrey;
  }

  input.btn.btn-primary.mb-3 {
    background-image: linear-gradient(#FFAE00 0, #FFC800 100%);
    border-color: #f48535;
  }

  input#message_content {
    font-size: 20px;
}
  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
    color: #FFAE00;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}
