.navbar {
  width: 100%;
  left: 0%;
  margin: 0;
  justify-content: space-between;
  background-color: #E0F6EF;
  font-size: 15px;
  font-weight: bold;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-link {
  text-transform: capitalize;
}
// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar-brand{
  width: 165px;

  height: 80px;
}

a.nav-link {
  color: #FFAE00;
  font-weight: bolder;
}

// a.nav-link:hover {
//   color: white;
// }
// .navbar-brand > img {
//   width: 100%;
// }
// body {
//   margin: 0;
// }

.nav-bar-form {
  width: 35%;
}

.navbar-nav {
  li:last-child {
    border-radius: 4px;
    background-image: linear-gradient(#FFAE00 0, #FFC800 100%);
    a {
      color: white !important;
    }
  }
}

a#nickname {
  color: white;
}

a#logout {
  color: black;
}
