.simple-calendar {
  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    border: 1px solid rgb(221, 221, 221);
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    background-image: linear-gradient(-222deg, #646464, #454545);
  }

  tr {
    border-collapse: collapse;
  }

  div.calendar-heading a {
    color: black;
    font-size: 17px;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    text-decoration: none;
    color: #f48535;
  }

  th {
    padding: 6px;
    border-bottom: 2px solid rgb(221, 221, 221);
    border-collapse: collapse;
    border-left: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-top: 0px none rgb(51, 51, 51);
    box-sizing: border-box;
    text-align: center;
  }

  td {
    padding: 6px;
    vertical-align: top;
    width: 14%;
    border: 1px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
  }

  .day {
    height: 80px;
    text-align: center;
    background-image: #646464;
    color: white;
    }

    td.day.wday-5.today.start-date.current-month {
      color: orange;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    // background-image: linear-gradient(-222deg, #ff9205, #f48535);
  }

  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background: rgb(117, 117, 117);
  }
  .next-month {
    background: rgb(117, 117, 117);
  }
  .current-month {}

  .has-events {}

}

#calendar-body {
  margin-left: 30px;
}
